@model PokWarVel.Models.ResultModel

    <div class="Fiche">
        <div class="portfolio-single head">
            <div class="roundedImage" style="background:url(@Model.Avatar) no-repeat 0px 0px;">
                &nbsp;
            </div>
            <div class="portfolio-view">
                <ul class="nav nav-pills">
                    <li><a href="~/Hero/Eval/@Model.ID"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        
                <div class="stars">
                    <input class="star Hstar-9" disabled="disabled" value="9" id="Hstar-9" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-9" for="Hstar-9"></label>
                    <input class="star Hstar-8" disabled="disabled"  value="8" id="Hstar-8" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-8" for="Hstar-8"></label>
                    <input class="star Hstar-7" disabled="disabled"  value="7" id="Hstar-7" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-7" for="Hstar-7"></label>
                    <input class="star Hstar-6" disabled="disabled"  value="6" id="Hstar-6" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-6" for="Hstar-6"></label>
                    <input class="star Hstar-5" disabled="disabled"  value="5" id="Hstar-5" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-5" for="Hstar-5"></label>
                    <input class="star Hstar-4" disabled="disabled"  value="4" id="Hstar-4" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-4" for="Hstar-4"></label>
                    <input class="star Hstar-3" disabled="disabled"  value="3" id="Hstar-3" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-3" for="Hstar-3"></label>
                    <input class="star Hstar-2" disabled="disabled"  value="2" id="Hstar-2" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-2" for="Hstar-2"></label>
                    <input class="star Hstar-1" disabled="disabled"  value="1" id="Hstar-1" type="radio" name="Evm.Eval" />
                    <label class="star Hstar-1" for="Hstar-1"></label>

                </div>
           

        <div class="HeroName">
            <h2>
                @Model.Name

                @{
                    
                        <span class="badge">@Model.Badge</span>

                }

                <br />
              
            </h2>
        
        </div>

    </div>



